  .search-cityname {
    position: fixed;
    min-height: 30px;
    width: 200px;
    margin: 0;
    background-color: #f0f5f8;
    border-color: #205b9e;
    border-style: solid;
    border-width: 2px;
    color: #0a156d;
    padding: 2px;
    font-size: 1em;
    padding-block: 1px;
    padding-inline: 2px;
    padding-left: 5px;
  }
  .search-cityname:hover {
    cursor: pointer;
    background-color: #d3dbe1;
  }
