#registration{
    align-items: center;
    text-align: center;
    margin-top: 3%;
}
#registration form{
    background-color: #a0c4ff;
    display: flex;
    flex-direction: column;
    width: 35%;
    padding: 2%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}
#registration form input{
    margin-bottom: 1%;
}
#registration #invalidDataMessages{
    text-align: left;
    color: #be392b;
    display: flex;
    flex-direction: column;
    padding: 1%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
#registration-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: -5px;
}
img{
    width: 100px;
    height: 100px;
    left: 60%;
    top: 160px;
}
#registration button{
width: 30%;
align-self: center;
}