#registration{
    align-items: center;
}
#registration form{
    background-color: pink;
    display: flex;
    flex-direction: column;
    width: 35%;
    padding: 2%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}
#registration form input{
    margin-bottom: 1%;
}
#registration #invalidDataMessages{
    color: rgb(216, 68, 68);
    display: flex;
    flex-direction: column;
    width: 35%;
    padding: 1%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}